.main{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
    
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact{
    position: relative;
    min-height: 100vh;
    display: flex;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.body{
    background: #eff4fd;
}

.main .nav li{
    padding:5px 7px 0px 5px;
    justify-content: center;
    font-size: 16px;
}

.navbar-brand img{
  
    position: relative;
    width: 40px;
    height: 30px;
    left: 20px; 
    bottom:3px; 
  }

.contact .content{
    max-width: 800px;
    text-align: center;
    padding-right: 200px;
}


.contact .content h1{
    font-size: 40px;
    font-weight: 500;
    justify-content: center;
    
}

.container .contactInfo{
    width: 50%;
    display: flex;
    justify-content: stretch;
    flex-direction: column;

}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    background: rgb(232, 238, 238);
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
}

.container .contactInfo .box p{

    color:black;
}

.contactForm{
   position: relative;
   left: 256px;
   bottom: 423px;
   display: flex;
   
  
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top:25px ;
    
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border:none;
    border-bottom: 2px solid #02070f;
    outline: none;
    resize: none;
    background-color:#eff4fd;
    
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    right:20px;
    top: 20px;
    pointer-events: none;
    transition: 0.5s;
    
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{

    font-size: 12px;
    transform: translateY(-20px);
    
}

.contactForm .inputBox input[type="submit"]{
 
    width: 100px;
    background: #00bcd4;
    border:none;
    cursor: pointer;
    font-size: 18px;

}


@media screen and (max-width:770px) {
    .contactForm{
        display: block;
        float: right;
        padding-top: 450px;
        padding-right: 530px;;
    }

    .container{
        display: block;
        max-width: 100%;
        position: relative;
        float: inline-start;
    }

    .content{
        justify-content: center;
        padding-left: 180px;
    }
}